name: CodSpeed

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches:
      - "main"

  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup mold linker
        uses: rui314/setup-mold@v1

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Setup just
        uses: extractions/setup-just@v3

      - name: Download benchmark assets
        run: just assets

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4.8.2
        with:
          mode: simulation
          run: cargo codspeed run
